@dark-gray:#222328;
#footer {
  .padding-48();
  background-color: @dark-gray;
  .text-white();
}

.footer__top {
  border-bottom: 1px solid #2D2E33;
  padding-bottom: 48px;
  .row-flex();
  justify-content: space-between;
  align-items: center;

  .sm-block({
  justify-content: center;
  align-items: center;
  flex-direction: column;
  });
}

.footer__logo {
  .col();
  .size(2);
  .size-sm(6);
  .size-xs(10);

  .sm-block({
    text-align: center;
  });
  .xs-block({
    text-align: center;
  });
  img {
    margin-top: 20px;
  }
}

.footer__menu {
  .montserrat();
  text-align: center;
  .col();
  .size(8);
  .size-sm(12);
  .hide-small();
}

.footer__menu-list {
  .dib-mid();
}

.footer__menu-item {
  .dib-mid();
}

.footer__menu-link {
  .button();
  .border-0();
  .rem(12px);
  .montserrat();
  .text-white();
  text-transform: uppercase;
  .hover-none();
  .hover-text-cyan();
}

.footer__socials {
  .col();
  .size(2);
  .size-sm(6);
  .size-xs(10);
}

.footer__socials-list {
  display: flex;
  justify-content: flex-end;
  .sm-block({
    justify-content: center;
  });
}


.footer__socials-link {
  .button();
  .border-0();
  .rem(12px);
  .montserrat();
  .text-white();
  text-transform: uppercase;
  .hover-none();
  .hover-text-cyan();
}

.footer__copyright {
  padding-top: 48px;
  .row-flex();
  justify-content: space-between;
  align-items: center;

  .xs-block({
  justify-content: center;
  });
}

.footer__copyright-text {
  .rem(14px);
  .crimson();
  .col();
  .size(6);
  .size-xs(10);

  p{
    .line-height(25);
    color: rgba(255, 255, 255, 0.302);
    font-style: italic;

    .xs-block({
    justify-content: center;
    .justify();
      margin-bottom: 15px;
    });
  }

}

.footer__copyright-guarantee {
  .montserrat();
  .col();
  .size(6);
  .size-xs(10);

    .xs-block({
    justify-content: center;
      .justify();
      margin-bottom: 15px;
    });

}

.footer__copyright-list {
  display: flex;
  justify-content: flex-end;

  .xs-block({
  justify-content: center;
  });
}

.footer__copyright-item {
  margin-left: 20px;
  .rem(11px);
  .line-height(19);
  color: rgba(255, 255, 255, 0.302);
  text-transform: uppercase;
}