#sort {

}

.sort__form {
  .white();
  .card-2();
.round-large();
  margin: 30px 25px;
  justify-content: space-between;
  align-items: center;
  .row-flex();
}

.sort__select-left {
  .padding-16();
  .col();
  .size(2.5);
}

.select__value {
  .dib-mid();
  margin-right: 40px;
  .rem(11px);
  .montserrat();
  color: #A1A8BD;
  text-transform: uppercase;
}

.select__list {
  outline: none;
  border: none;
  .dib-mid();
}

.select__item {
  .rem(11px);
  .montserrat(bold);
  color: #343E5C;
  text-transform: uppercase;
  text-align: right;
}

.sort__select-center {
  border-right: 1px solid #E3E8F0;
  border-left: 1px solid #E3E8F0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .padding-16();
  .col();
  .size(7.5);
}

.select__center-keywords {
}

.keywords__label {
  margin-right: 10px;
  .montserrat(400);
  .rem(13px);
  color: #B9BFD3;
  &:last-child{
    margin-right: 0;
  }
}

.keywords__input {
  border: none;
  outline: none;
  border: 1px solid #E3E8F0;
  background-color: #F0F2F7;
  padding: 10px;
  width: 62px;
  .round-xxlarge();
  .montserrat(400);
  .rem(13px);
  color: #343E5C;
  width: 160px;
}

.select__center-price {
}

.price__label {
  margin-right: 10px;
  color: #A1A8BD;
  text-transform: uppercase;
  .montserrat();
  .rem(11px);

  &:last-child{
    margin-right: 0;
  }
}

.price__input {
  border: none;
  outline: none;
  border: 1px solid #E3E8F0;
  background-color: #F0F2F7;
  padding: 10px;
  width: 62px;
  .round-xxlarge();
  .montserrat(700);
  .rem(13px);
  color: #343E5C;
}

.select__center-freeShipping {
}

.freeShipping__img {
  .dib-mid();
  margin-right: 10px;
}

.freeShipping__img-icon {
}

.freeShipping__text {
  .dib-mid();
  .montserrat(700);
  .rem(13px);
  color: #343E5C;
}

.sort__select-right {
  .padding-16();
  .col();
  .size(2);
}